go 1.18

use (
	./golang-wikimedia-kafka-course/kafka-producer-wikimedia
	./golang-wikimedia-kafka-course/kafka-consumer-opensearch
	./golang/kafka-course-consumer-concepts
	./golang/kafka-course-producer-concepts
)
